@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html, body {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}
                /* HERO SECTION  Start */
/* HERO */
.hero {
  min-height: 794px;
  background: 
    url("../assets/home/Image_fx.png") no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative;
  overflow-x: hidden;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 64px;
}

.logo {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0;
  background: linear-gradient(180deg, rgba(3, 46, 21, 0.6) 0%, rgba(1, 102, 48, 0.6) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.nav {
  display: flex;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  font-weight: 400;
  font-style: regular;
  font-size: 16px;
  color: #2b2b2b;
  line-height: 150%;
}
.fa-search {
  font-size: 18px;
  color: rgba(3,46, 21, 1);
  cursor: pointer;
  width: 26px;
  height: 26px;
  position: relative;
  top: 5.64px;
  left: 5.64px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-primary {
  background: linear-gradient(180deg, #032E15 0%, #016630 100%);
  color: white;
  border: none;
  padding: 16px 28px;
  border-radius: 20px;
  cursor: pointer;
}

/* Hamburger  ( for toggle navbar in mobile viewport )  */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

/* HERO CONTENT */
.hero-content {
  max-width: 692px;
  height: 344px;
  position: relative;
  top: 105px;
  left: 74px;
}

.badge {
  background: linear-gradient(180deg, rgba(3, 46, 21, 0.6) 0%, rgba(1, 102, 48, 0.6) 100%);
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 300;
  width: 356px;
  height: 40px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.hero-content h1 {
  font-size: 56px;
  color: rgba(3, 46, 21, 1);
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: -1.33px;
}

/* STATS */
.stats {
  display: flex;
  gap: 74px;
  margin-bottom: 30px;
}

.stat strong {
  font-size: 72px;
  background: linear-gradient(180deg, rgba(3, 46, 21, 0.6) 0%, rgba(1, 102, 48, 0.6) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
}

.stat span {
  font-size: 22px;
  font-weight: 300;
  line-height: 104%;
  color: rgba(13, 84, 43, 1);
  display: block;
}

.btn-shop {
  background: linear-gradient(180deg, #032E15 0%, #016630 100%);
  color: white;
  border: none;
  width: 185px;
  height: 48px;
  padding: 12px 16px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
}


           /* Hero section responsive  start*/
@media (max-width: 768px) {
  .hero {
    padding: 20px;
  }

  .nav {
    display: none;
    position: absolute;
    top:85px;
    right: 20px;
    background: white;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    gap: 16px;
    z-index: 999;
    transition: all 1s ease-in-out;
  }

  .nav.active {
    display: flex;
  }
  .nav a:hover{
    color: #134b2d;
    transition: 0.5s linear;
    font-weight: 500;
  }

 .hamburger {
    display: flex;
 }

  .hero-content {
    margin-top: 80px;
  }

  .stat strong {
  font-size:30px;
}

.stat span {
  font-size: 14px;
  font-weight: 300;
}

.btn-shop {
  width: 150px;
  height: 48px;
  font-size: 16px;
}

.hero-content h1 {
  font-size: 36px;
}


}
        /* Hero section responsive  End*/

                /* HERO SECTION  End */

                /* PRODUCT SECTION  Start */
.product-section {
  padding: 80px;
  background: #fff;
}

.product-container {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

               /* Product gallery  Start*/
.product-gallery {
  width: 50%;
}

.main-image img {
  width: 100%;
  border-radius: 10px;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 16px;
}

.thumbnails img {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.main-image {
  position: relative;
}

/* ARROWS */
.arrow {
  position: absolute;
  bottom:4%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  color: #134b2d;
  border: #000 1px solid;
}
.arrow:hover {
  background: #134b2d;
  color: #fff;
  transition: 0.3s ease-in-out; 
}

.arrow.left {
  left: 25px;
}

.arrow.right {
  right: 25px;
}

/* DOTS */
.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 12px 0;
  position: relative;
  bottom: 50px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}

.dot.active {
  background: #134b2d;
}

/* THUMB ACTIVE */
.thumbnails img.active {
  outline: 2px solid #134b2d;
}

.thumbnails img:hover {
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}


/* FADE ANIMATION */
.main-image img {
  transition: opacity 0.35s ease-in-out;
}

.main-image img.fade-out {
  opacity: 0;
}

.main-image img.fade-in {
  opacity: 1;
}

           /* Product gallery  End*/


/* INFO */
.product-info {
  width: 50%;
}

.product-info h2 {
  font-size: 36px;
  font-weight: 600;
  color: rgba(3, 46, 21, 1);
}

.fa-star,.fa-star-half {
  color: rgba(0, 201, 80, 1);
  font-size: 13px;
}

.rating {
  margin: 10px 0;
}
.rating span {
  font-size: 13px;
  color: #555;
  font-weight: 300;
  color: rgba(3, 46, 21, 1);
}

.description {
  font-weight: 300;
  font-size: 16px;
  color: rgba(3, 46, 21, 1);
  margin-bottom: 20px;
}



          /*  SUBSCRIPTION BOX    */
/* SUBSCRIPTION CARD */
.subscription-card {
  border: 1.5px solid rgba(128, 128, 128, 0.6);
  border-radius: 12px;
  overflow: hidden;
}

/* TOP BADGE */
.subscription-badge {
  background: linear-gradient(270deg, #032E15 0%, #008236 51.92%, #00C950 100%);
  color: #fff;
  text-align: center;
  height: 43px;
  line-height: 44px;
  font-weight: 700;
  font-size: 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* RADIO CARD */
.subscription-type {
  padding: 16px;
}

.radio-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 14px;
  cursor: pointer;
}

.radio-content {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.radio-card input {
  display: none;
}

.sub-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio-dot {
  width: 14px;
  height: 14px;
  border: 2px solid #1f6b3b;
  border-radius: 50%;
  position: relative;
}

/* ACTIVE CARD */
.radio-card:has(input:checked) {
  background: #eefaf1;
  border-radius: 10px;
}

/* RADIO DOT FILL */
.radio-card:has(input:checked) .radio-dot::after {
  content: "";
  width: 6px;
  height: 6px;
  background: #1f6b3b;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

/* ACTIVE RADIO CARD */
.card-gap{
    margin: 20px 0px;
}


.sub-price del {
  color: #999;
  margin-left: 6px;
}

          /* SUBSCRIPTION Start  */
.empty-border{
    border: 1px solid rgba(128, 128, 128, 0.6);
    margin: 0 50px;
}

.empty-border-two{
    border: 1px solid rgba(128, 128, 128, 0.6);
    margin: 0 50px;
}

.subscription-box {
  padding: 10px 50px;
}

.subscription-box h4{
    font-weight: 300;
    font-size: 16px;
}
.sigle-sub{
  font-size: 20px;
  font-weight: 300;
}
.sub-price strong{
    font-size: 20px;
    font-weight: 700;
}
.sub-price del{
    font-size: 20px;
    font-weight: 300;
}

.double-subscription{
    margin: 15px 0;
}

/* FRAGRANCE OPTIONS */
.fragrance-options {
  display: flex;
  width: 404px;
  height: 145px;
  gap: 12px;
  margin: 20px 0;
}

.fragrance-card {
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
  width: 100%;
  background-color: rgba(249,249,249,1);
}

.fragrance-left span{
    font-size: 13px;
    font-weight: 300;
}

.fragrance-left{
    position: absolute;
    left: 5px;
    top: 5px;
}

.fragrance-card img {
  position: relative;
  top: 30px;
  width: 60px;
  margin-bottom: 6px;
}

.badge-small {
  position: absolute;
  top: -13px;
  right: 0px;
  background: linear-gradient(180deg, #032E15 0%, #016630 100%);
  color: #fff;
  font-size: 8px;
  padding: 2px 6px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 4px 5px;
  text-transform: uppercase;
  font-weight: 500;
}

    /* INCLUDED */

.what-include{
    font-weight: 300;
    font-size: 16px;
}
.included-boxes {
  display: flex;
  gap: 16px;
  margin: 16px 0;
}

/* SHARED CARD STYLE */
.included-item {
  border: 1.5px solid #00000028;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* LEFT CARD */
.included-one {
  width: 196px;
  height: 219px;
  align-items: center;
}

.included-one img {
  width: 84px;
  height: 144px;
  margin-top: auto;
  margin-bottom: auto;
}

/* RIGHT CARD */
.included-two {
  width: 100%;
  height: 219px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 46px;
  padding-bottom:20px;
}

/* TITLE TEXT */
.included-item p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 8px;
  align-self: flex-start;
}


/* FREE TEXT */
.included-item strong {
  font-weight: 700;
}


/* include responsive   */
.included-two img {
  width: 54px;
  height: 94px;
}


@media (max-width: 768px) {
  .included-boxes {
    flex-direction: column;
  }

  .included-one,
  .included-two {
    width: 100%;
  }
}


/* BENEFITS */
.benefits {
  list-style: none;
  padding: 0;
}

.benefits li {
  font-size: 14px;
  margin-bottom: 6px;
  line-height: 20px;
  font-weight: 300;
}

.benefits{
    color: rgba(3, 46, 21, 1);
}
.benefits strong{
    font-weight: 700;
    color: rgba(3, 46, 21, 1);  
}

   /* subscription end */

/* CTA */
.add-to-cart {
  display: block;
  text-align: center;
  background: linear-gradient(180deg, #032E15 0%, #016630 100%);
  color: #fff;
  padding: 14px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
}


/* product section responsive  start*/


@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
  }

  .product-gallery,
  .product-info {
    width: 100%;
  }

  .product-section {
    padding: 40px 20px;
  }
}

/* product section responsive  End*/


/* PRODUCT SECTION  End */




/* COLLECTION SECTION START */

/* COLLECTION */
.collection-section {
  padding: 80px;
  background: #fff;
}

.collection-container {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

.collection-left {
  width: 50%;
}

.collection-right {
  width: 50%;
}

.collection-right img {
  width: 100%;
  border-radius: 16px;
}

.collection-left h2 {
  font-size: 36px;
  font-weight: 600;
  margin-top: 24px;
}

/* OUR COLLECTION  START */

.faq-item {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  margin: 20px 0px;
  overflow: hidden;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  cursor: pointer;
  font-size: 20px;
  color: rgba(3, 46, 21, 1);
}

.faq-answer {
  padding: 0 16px 16px;
  color: #666;
  font-size: 16px;
  font-weight: 300;
  display: none;
}

.faq-item.active .faq-answer {
  display: block;
}

.fa-plus{
    font-size: 18px;
    color: rgba(3, 46, 21, 0.833);
}

/* OUR COLLECTION  END */



/* STATS */
.stats-section {
  background: linear-gradient(180deg, #032E15 0%, #016630 100%);
  padding: 60px 40px;
  width: 100%;
}

.stats-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  color: #fff;
  text-align: center;
}

.stat-box h3 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 8px;
}

.stat-box p {
  font-size: 16px;
  font-weight: 300;
}

/* stats responsive start */

@media (max-width: 768px) {
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 480px) {
  .stats-container {
    grid-template-columns: 1fr;
  }
}

/* stats responsive End */



/* collection section responsive start */
@media (max-width: 768px) {
  .collection-container {
    flex-direction: column;
  }

  .collection-left,
  .collection-right {
    width: 100%;
  }

  .collection-section {
    padding: 40px 20px;
  }

  .stats-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

/* collection section responsive end */

/* COLLECTION SECTION END */



/* why choose section START */
.comparesion-minus{
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}
.comparesion-minus i{
    font-size: 20px;
    color: rgba(3, 46, 21, 1);

}

.comparison-section {
  padding: 80px 20px;
  background: #fff;
  text-align: center;
}

.comparison-section h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #032E15;
}

/* CENTER THE TABLE */
.table-wrapper {
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

/* TABLE SIZE & SPACING */
.comparison-table {
  width: 100%;
  max-width: 1100px;       
  border-collapse: collapse;
  min-width: 900px;
}

/* CELLS */
.comparison-table th,
.comparison-table td {
  padding: 16px 18px;
  border-bottom: 1.5px solid #534747cd;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
}
.border-doted{
    border-bottom: 1.5px dotted #000000a2 !important;
}

/* FIRST COLUMN (QUALITIES) */
.comparison-table td:first-child {
  text-align: left;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-weight: 700;
}

.comparison-table th:first-child{
   text-align: left;
   font-weight: 600;
   font-size: 18px;
}


/* HEADER IMAGES */
.comparison-table th img {
  width: 48px;
  display: block;
  margin: 0 auto 6px;
}

/* GTG COLUMN HIGHLIGHT */
.highlight {
  background: #eefaf1;
  font-weight: 600;
}

.check-icon {
  font-size: 22px;
}

.fa-remove-style {
  font-size: 12px;
  border: 1px solid #000000be;
  border-radius: 100%;
  padding:4px;
  width: 18px;
  height: 18px;
  text-align: center;
}

.fa-times {
  color: #000000ba;
}

.fa-window-close {
  color: #9ca3af;
  font-size: 18px;
}

/* TABLE RESPONSIVENESS */
@media (max-width: 768px) {
  .table-wrapper {
    justify-content: flex-start;
  }

  .comparison-table {
    min-width: 900px;
  }
}

/* why choose section END */



/* CTA */
.cta-btn {
  display: inline-block;
  margin-top: 70px;
  width: 194px;
  height: 56px;
  padding: 14px 20px;
  background: linear-gradient(180deg, #032E15 0%, #016630 100%);
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  font-weight:500;
  line-height: 32px;
}

/* =====> CUSTOM SCROLLBAR FOR TABLE <===== */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f5f3;
}

::-webkit-scrollbar-thumb {
  background-color: #032E15;
  border-radius: 8px;
  border: 2px solid #f1f5f3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #016630;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #032E15 #f1f5f3;
}


/* why choose section responsive Start */
@media (max-width: 768px) {
  

  
}


/* why choose section responsive end */


/* WHY CHOOSE SECTION END */


/* FOOTER SECTION START */

.footer {
  height: 391px; 
  background: #032E15;
  position: relative;
  overflow: hidden;
}

.footer-content {
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
}

.footer-container {
 display: flex;
  gap: 40px;
  justify-content: space-between;
}

/* Footer logo  */
.footer-brand h3 {
  font-size: 42px;         
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 40px;
  font-weight: 700;
}

/* Footer nav links */
.footer-links {
  display: flex;
  gap: 90px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 20px;
}

.footer-links a {
  color:rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

/* social icons  */
.footer-social p,
.footer-social a {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #E6F0EA;
  font-size: 16px;
  margin-bottom: 18px;
  text-decoration: none;
}

.footer-social a:hover {
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

/* News letter */
.footer-newsletter {
  max-width: 505px;
}

.footer-newsletter p {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 150%;
  color:rgba(254, 243, 228, 1);

}

.newsletter-form {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.newsletter-form input {
  flex: 1;
  padding: 14px 16px;
  font-size: 16px;
  background: transparent;
  border: 1px solid #E6F0EA;
  color: #fff;
}

.newsletter-form input::placeholder {
  color: #E6F0EA;
}

.newsletter-form button {
  background: #7A4A00;
  color: #fff;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.footer-newsletter small a ,.footer-newsletter small {
  font-size: 13px;
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
}


/* Footer resposive start */

@media (max-width: 768px) {
  .footer {
    height: auto;
  }

  .footer-content {
    position: static;
    padding: 40px 20px;
  }

  .footer-container {
  justify-content: center;
  flex-direction: column;
}

}

/* Footer resposive end */

/* FOOTER SECTION END */


